<div class="settings-container">
  <!-- Sidebar -->
  <mat-drawer-container class="drawer-container">
    <mat-drawer mode="side" class="drawer" opened>
      <ul class="sidebar-list">
        <!-- <li
          class="sidebar-item"
          [class.active]="activeSection === 'appointment'"
          (click)="setActiveSection('appointment')"
        >
          <mat-icon>calendar_today</mat-icon> Appointment Setting
        </li> -->
        <li
          class="sidebar-item"
          [class.active]="activeSection === 'account'"
          (click)="setActiveSection('account')"
        >
          <mat-icon>person</mat-icon> Account & Password
        </li>
      </ul>
    </mat-drawer>

    <!-- Main Content -->
    <mat-drawer-content>
      <div class="content-container">
        <!-- Appointment Setting View -->

        <!-- Account & Password View -->
        <div *ngIf="activeSection === 'account'">
          <h2>Account & Password</h2>

          <div class="profile-container">
            <!-- Profile Picture and Name -->
            <div class="profile-header">
              <div class="profile-picture-container">
                <img
                [src]="imageUrl"
                (error)="onImageError($event)"
                alt="Profile Picture"
              />
              <mat-icon class="add-icon" (click)="fileInput.click()">add_a_photo</mat-icon>

              <input
              type="file"
              #fileInput
              (change)="onFileSelected($event)"
              accept="image/*"
              name="image"
              style="display: none"
            />
              </div>
             

              <div class="profile-info">
                <h3>{{ user.firstname }} {{ user.lastname }}</h3>
                <span>Staff</span>
              </div>
            </div>

            <!-- Profile Form -->
            <div class="profile-form">
              <h4>Profile</h4>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>First Name</mat-label>
                <input matInput [(ngModel)]="user.firstname" required/>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Last Name</mat-label>
                <input matInput [(ngModel)]="user.lastname" required/>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email Address</mat-label>
                <input matInput type="email" [(ngModel)]="user.email" required/>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Contact No.</mat-label>
                <input matInput type="phone" [(ngModel)]="user.contactNumber" required/>
              </mat-form-field>

              <button (click)="onSubmit()" mat-raised-button color="primary" class="update-button">
                Update Profile
              </button>
            </div>
            <hr>
            <!-- Password Section -->
            <div class="profile-form">
              <h4>Password</h4>
              <p>
                To add a password to your account for the first time, you will
                need to use the
                <a [routerLink]="['../../authentication/reset-password']" class="link">password reset</a> page
                so we can verify your identity.
              </p>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Current Password</mat-label>
                <input type="password" matInput [(ngModel)]="user.password" required/>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>New Password</mat-label>
                <input minlength="6" type="password" matInput [(ngModel)]="user.newPassword" required/>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Confirm Password</mat-label>
                <input minlength="6" type="password" matInput [(ngModel)]="user.confirmPassword" required/>
              </mat-form-field>

              <button (click)="onPasswordChange()" mat-raised-button color="primary" class="update-button">
                Change Password
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
