.status-completed {
  text-transform: capitalize;
  color: green;
}

.status-upcoming {
  text-transform: capitalize;
  color: rgb(190, 190, 111);
}

.status-cancelled {
  text-transform: capitalize;
  color: red;
}

.ng-deep::mat-select {
  border-radius: 8px;
}

.mat-column-number {
  width: 50px;
  text-align: center;
}

/* Additional styling can go here if needed */
