mat-card {
  margin: 1rem auto;
  max-width: 50rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: #f8fafc;
  overflow-y: scroll;
  max-height: 50rem;

  mat-card-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    .doctor-avatar {
      border-radius: 50%;
      border: 2px solid #ccc;
    }

    mat-card-title {
      font-size: 1.5rem;
      font-weight: bold;
      color: #222222;
    }

    mat-card-subtitle {
      font-size: 1rem;
      color: #6b7280;
    }
  }

  .profile-section-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem 0;
    border-bottom: 1px solid #ccc;
    color: #374151;
  }

  .profile-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .profile-row {
      display: flex;
      gap: 1.5rem;

      .profile-field {
        flex: 1;
        min-width: 10rem;
      }
    }

    .full-width {
      width: 100%;
    }
  }

  .profile-container-card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border: solid 1px #374151;
    border-radius: 8px;
    padding: 8px;

    .profile-row {
      display: flex;
      gap: 1.5rem;

      .profile-field {
        flex: 1;
        min-width: 10rem;
      }
    }

    .full-width {
      width: 100%;
    }
  }

  mat-card-actions {
    display: flex;
    justify-content: flex-end;


   
  }
}

.mat-text {
  margin-top: 5px;
}
