<mat-card>
  <h1>View Patient</h1>
  <mat-card-header>
    <img
      [src]="imageUrl"
      mat-card-avatar
      (error)="onImageError($event)"
      class="doctor-avatar"
      style="width: 6rem; height: 6rem"
    />
    <mat-card-title>Vilmalyn Cruz</mat-card-title>
    <mat-card-subtitle>vilmaly01&#64;gmail.com</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="profile-section-title">User Profile</div>
    <div class="profile-container">
      <div class="profile-row">
        <div class="profile-field">
          <mat-label>Last Name</mat-label>
          <div class="mat-text">{{ user.lastname || "N/A" }}</div>
        </div>
        <div class="profile-field">
          <mat-label>First Name</mat-label>
          <div class="mat-text">{{ user.firstname || "N/A" }}</div>
        </div>
        <div class="profile-field">
          <mat-label>Middle Initial</mat-label>
          <div class="mat-text">N/A</div>
        </div>
      </div>

      <div class="full-width">
        <mat-label>Email</mat-label>
        <div class="mat-text">{{ user.email || "N/A" }}</div>
      </div>

      <div class="profile-row">
        <div class="profile-field">
          <mat-label>Contact Number</mat-label>
          <div class="mat-text">{{ user.contactNumber || "N/A" }}</div>
        </div>
        <div class="profile-field">
          <mat-label>Created At</mat-label>
          <div class="mat-text">{{ user.createdAt | date : "medium" }}</div>
        </div>
      </div>

      <div class="profile-section-title">History</div>
      <ng-container *ngIf="!user.patientsList">
        <div class="profile-row">
          <div class="mat-text">No appointments yet</div>
        </div>
      </ng-container>
      <ng-container *ngFor="let patient of user.patientsList">
        <div class="profile-row">
          <div class="profile-container-card">

            <div class="profile-row">
              <div class="profile-field">
                <mat-label>Date of Appointment</mat-label>
                <div class="mat-text">{{ patient.date | date : "medium" }}</div>
              </div>
            </div>

            <div class="profile-row">
              <div class="profile-field">
                <mat-label>Last Name</mat-label>
                <div class="mat-text">{{ patient.lastname || "N/A" }}</div>
              </div>
              <div class="profile-field">
                <mat-label>First Name</mat-label>
                <div class="mat-text">{{ patient.firstname || "N/A" }}</div>
              </div>
              <div class="profile-field">
                <mat-label>Middle Initial</mat-label>
                <div class="mat-text">N/A</div>
              </div>
            </div>

            <div class="profile-row">
              <div class="profile-field">
                <mat-label>Contact Number</mat-label>
                <div class="mat-text">{{ patient.mobileNumber || "N/A" }}</div>
              </div>
              <div class="profile-field">
                <mat-label>Created At</mat-label>
                <div class="mat-text">{{ patient.createdAt | date : "medium" }}</div>
              </div>
              <div class="profile-field">
                <mat-label>Civil Status</mat-label>
                <div class="mat-text">{{ patient.patientStatus || "N/A" }}</div>
              </div>
            </div>

            <div class="profile-row">
              <div class="profile-field">
                <mat-label>Date of Birth</mat-label>
                <div class="mat-text">{{ patient.dateOfBirth || "N/A" }}</div>
              </div>
              <div class="profile-field">
                <mat-label>Place of Birth</mat-label>
                <div class="mat-text">{{ patient.placeOfBirth || "N/A"}}</div>
              </div>
              <div class="profile-field">
                <mat-label>Guardian</mat-label>
                <div class="mat-text">{{ patient.gurdian || "N/A" }}</div>
              </div>
            </div>
     
            <div class="full-width">
              <mat-label>Description</mat-label>
              <div class="mat-text">{{ patient.description || "N/A" }}</div>
            </div>

            <div class="full-width">
              <mat-label>Status</mat-label>
              <div class="mat-text">{{ patient.status || "N/A" }}</div>
            </div>
          </div>
        </div>
      </ng-container>
     
    </div>
  </mat-card-content>
</mat-card>
